- name: Verify NodeJS
  ansible.builtin.shell: type npm
  register: npm
  ignore_errors: yes



- name: Install NodeJS
  ansible.builtin.shell: curl -sL https://rpm.nodesource.com/setup_lts.x | bash
  when: npm.rc != 0

- name: Install NodeJS
  ansible.builtin.dnf:
    name: nodejs
    when: npm.rc != 0

- name: Copy Backend Service File
  ansible.builtin.copy:
    src: backend.service
    dest: /etc/systemd/system/backend.service

- name: Add Application User
  ansible.builtin.user:
    name: expense

- name: Include App Pre-requisites
  ansible.builtin.import_role:
    name: common
    tasks_from: app_prereq

- name: install NodeJS Dependencies
  ansible.builtin.shell: npm install
  args:
    chdir: /app

- name: Install MySQL Client
  ansible.builtin.dnf:
    name: mysql

- name: Load Schema
  ansible.builtin.shell: mysql -h mysql.kdevopsb26.online -uroot -pExpenseApp@1 < /app/schema/backend.sql

- name: Start Backend Service
  ansible.builtin.systemd:
    name: backend
    state: restarted
    enables: yes
    daemon-reload: yes




